@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .animate-rotate {
    animation: animate-rotate 2s linear infinite;
  }

  @keyframes animate-rotate {
    100% {
      transform: rotate(-225deg);
    }
  }

  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  .animated-border-rotate {
    position: relative;
  }

  .animated-border-rotate::after,
  .animated-border-rotate::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: calc(100% + 5px);
    width: calc(100% + 5px);
    background: conic-gradient(
      from var(--angle),
      transparent 65%,
      red,
      violet,
      blue
    );
    border-radius: 10px;
    translate: -50% -50%;
    z-index: 1;
    padding: 3px;
    animation: rotate 2s linear 0ms infinite;
  }

  .animated-border-rotate::before {
    filter: blur(1.5rem);
    opacity: 0.5;
  }

  @keyframes rotate {
    from {
      --angle: 0deg;
    }
    to {
      --angle: 360deg;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
