@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  h1 {
    font-weight: 750;
    font-size: 2.7rem;
  }
  h2 {
    font-weight: 730;
    font-size: 2rem;
  }
  h3 {
    font-weight: 700;
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1rem;
    font-weight: 750;
  }
  .text-balance {
    text-wrap: balance;
  }
  .animate-rotate {
    animation: animate-rotate 2s linear infinite;
  }

  @keyframes animate-rotate {
    100% {
      transform: rotate(-225deg);
    }
  }

  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  .animated-border-rotate {
    position: relative;
  }

  .animated-border-rotate::after,
  .animated-border-rotate::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: calc(100% + 5px);
    width: calc(100% + 5px);
    background: conic-gradient(
      from var(--angle),
      transparent 70%,
      red,
      violet,
      blue
    );
    border-radius: 10px;
    translate: -50% -50%;
    z-index: 1;
    padding: 3px;
    animation: rotate 2s linear 0ms infinite;
  }

  .animated-border-rotate::before {
    filter: blur(1.5rem);
    opacity: 0.5;
  }

  @keyframes rotate {
    from {
      --angle: 0deg;
    }
    to {
      --angle: 360deg;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list {
  padding: 20px;
  height: 100vh;
  display: flex;
  gap: 1px;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.list img {
  width: 120px;
  height: 180px;
  transition: 0.7s;
  filter: brightness(0.03);
  border-radius: 10px;
  border: 1px solid red;
}

.list img:hover {
  filter: brightness(1);
  transform: translateZ(200px);
}
.list img:hover + * {
  filter: brightness(0.5);
  transform: translateZ(150px) rotateY(40deg);
}
.list img:hover + * + * {
  filter: brightness(0.35);
  transform: translateZ(75px) rotateY(25deg);
}
.list img:hover + * + * + * {
  filter: brightness(0.19);
  transform: translateZ(35px) rotateY(15deg);
}

.list img:has(+ *:hover) {
  filter: brightness(0.5);
  transform: translateZ(150px) rotateY(-40deg);
}
.list img:has(+ * + *:hover) {
  filter: brightness(0.35);
  transform: translateZ(75px) rotateY(-25deg);
}
.list img:has(+ * + * + *:hover) {
  filter: brightness(0.19);
  transform: translateZ(35px) rotateY(-15deg);
}

.img-list img:not(:hover) {
  filter: grayscale(1) blur(3px);
}
.img-list img:hover {
  transform: scale(1.25);
}

/* AnimatedImageSlider_02 */

.slider_02 {
  width: 100%;
  min-width: calc(190px * --quantity);
  overflow: hidden;
}

.slider_02 img {
  animation: AutoSlider var(--time) linear infinite;
  animation-delay: calc(
    var(--time) / var(--quantity) * var(--index) - var(--time) + 1s
  );
}

@keyframes AutoSlider {
  to {
    left: -100%;
  }
}

/* Animated-Scroll-Effect --> */
.scroll-cant {
  padding: 2rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scroll-cant div {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: rgb(3, 139, 94);
}

.scroll-cant .scrollEffectD2U {
  animation: scrollEffectD2U;
  animation-timeline: view(auto auto);
}
@keyframes scrollEffectD2U {
  0%,
  30% {
    opacity: 0;
    transform: scale(0.3) translateY(500px);
    background-color: red;
  }
  50%,
  100% {
    opacity: 1;
    transform: scale(1) translateY(0px);
    background-color: blue;
  }
  /* 100% {
    opacity: 0;
    transform: scale(0.3) translateY(-500px);
    background-color: red;
  } */
}

.scroll-cant .scrollEffectU2D {
  animation: scrollEffectU2D;
  animation-timeline: view(auto auto);
}
@keyframes scrollEffectU2D {
  0%,
  30% {
    opacity: 0;
    transform: scale(0.3) translateY(-500px);
    background-color: rgb(255, 0, 242);
  }
  50%,
  100% {
    opacity: 1;
    transform: scale(1) translateY(0px);
    background-color: rgb(0, 255, 60);
  }
}

.scroll-cant .scrollEffectL2R {
  animation: scrollEffectL2R;
  animation-timeline: view(auto auto);
}
@keyframes scrollEffectL2R {
  0%,
  20% {
    opacity: 0;
    transform: scaleX(0.3);
    background-color: rgb(255, 0, 242);
    box-shadow: 0 0 20px black;
  }
  45%,
  80% {
    opacity: 1;
    transform: scaleX(1);
    background-color: rgb(4, 66, 88);
    box-shadow: 0 0 5px black;
  } 100% {
    opacity: 0;
    transform: scaleX(0.3);
    background-color: rgb(123, 5, 117);    
    box-shadow: 0 0 20px black;
  }
}
/* <--Animated-Scroll-Effect */



.text-editor .ql-container {
  min-height: 200px; /* 10 rows x 20px = 200px */
}

.text-editor .ql-editor {
  min-height: 200px;
}
